{# app/Resources/views/default/new.html.twig #}
<body>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Send date</button>
    {{ form_end(form) }}
    <p>Date {{ date | date("Y/m/d") }}.  Number of week {{numberOfWeek}}</p>
</body>