{# app/Resources/views/elevator/index.html.twig #}

<html>
    <head>
        <title>Elevator dispatcher</title>
    </head>

    <body>
        <div>
            {% if nearestElevator %}
                <p>Nearest elevator id {{ nearestElevator.id }} </p>
            {% endif %}
        </div>
        <ul id="elevators">
            {% for item in elevators %}
                <li>
                    <p>
                        Elevator Id: {{ item.id }}, current floor: {{ item.currentFloor }},
                        max floor: {{ item.maxFloor }}
                    </p>
                </li>
            {% endfor %}
        </ul>
        <div>
            <label>Departure from other floors</label>
            {{ form_start(formOtherFloor) }}
                <div>
                    {{ form_label(formOtherFloor.departureFloor) }}
                    {{ form_errors(formOtherFloor.departureFloor) }}
                    {{ form_widget(formOtherFloor.departureFloor) }}
                </div>
                <div>
                    {{ form_label(formOtherFloor.direction) }}
                    {{ form_errors(formOtherFloor.direction) }}
                    {{ form_widget(formOtherFloor.direction) }}
                </div>
            {{ form_end(formOtherFloor) }}
        </div>
        <div>
            <label>Departure from the ground floor</label>
            {{ form_start(formGroundFloor) }}
                <div>
                    {{ form_label(formGroundFloor.destinationFloor) }}
                    {{ form_errors(formGroundFloor.destinationFloor) }}
                    {{ form_widget(formGroundFloor.destinationFloor) }}
                </div>
            {{ form_end(formGroundFloor) }}
        </div>
    </body>
</html>